{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta content="text/html; UTF-8" http-equiv="Content-Type"/>
  <title>Registration</title>
  <link href="{% static 'static/css/reg/styleReg.css' %}" rel="stylesheet">
</head>
<body>
  <div class="text-center">
  <h2>Регистрация</h2>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <span>{{ field.help_text }}</span>
          {% endif %}
          {% for error in field.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
    <button type="submit">Отправить</button>
  </form>
  </div>
</body>
</html>